<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">

    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

</head>
<body>
    <header class="header">

        <nav class="navbar navbar-expand-lg" style="width: 100%;">
           <div class="container-fluid" >
     
              <img src="{{ url_for('static', filename='images/cyber-security-removebg-preview.png') }}" alt="icon" width="50px" height="50px" >
              <a href="#" class="logo">Cyber Security</a>
             <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
               <span class="navbar-toggler-icon"></span>
             </button>
             <div class="collapse navbar-collapse" id="navbarSupportedContent" >
               <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                 <li class="nav-item">
                   <a class="nav-link active" aria-current="page" href="/">Home</a>
                 </li>
                 <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/courses">Courses</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/news">News</a>
                  </li>
     
                  <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{{ url_for('contact') }}">Contact</a>
                </li>
     
                 <li class="nav-item dropdown">
                   <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                     Info
                   </a>
                   <ul class="dropdown-menu">
                     <li><a class="dropdown-item" href="/cybersecurity">Cyber Security</a></li>
                     <li><a class="dropdown-item" href="/cyberattacks">Cyber Attacks</a></li>
                     <li><a class="dropdown-item" href="/blogs">Blogs</a></li>
                   </ul>
                 </li>
     
                 {% if admin%}
                 <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/admin">Admin</a>
                 </li>
                 {% endif %}
     
                 <ul class="navbar-nav ms-auto" style="padding-left: 45rem;">
                    {% if not login  %}
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="{{ url_for('login') }}">Login</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="{{ url_for('register') }}">SignUp</a>
                    </li>
                    {% endif %}
                    {% if login  %}
                       <li class="nav-item">
                          <a class="nav-link active" aria-current="page" href="/dashboard/{{user_id}}">Dashboard</a>
                       </li>
                       <li class="nav-item">
                          <a class="nav-link active" aria-current="page" href="{{ url_for('logout') }}">Logout</a>
                       </li>
                    {% endif %}
     
                </ul>
               </ul>
             </div>
           </div>
        </nav>
     
        </header>
     
    <center>
        <h1>News</h1>
    </center>
    {% for result in results %}
        <div>

            <h3>{{result[1]}}</h3>
            <a href="{{result[2]}}">{{result[2]}}</a>
            <img src="/static/images/news/{{result[3]}}"  alt="images" height="100px" width="100px">

        </div>
        {% endfor %}
        <section class="footer">

            <div class="box-container">
      
               <div class="box">
                  <h3> Cyber Attacks </h3>
                  <div class="share">
                     <a href="https://www.facebook.com/" class="fab fa-facebook-f"></a>
                     <a href="https://twitter.com/" class="fab fa-twitter"></a>
                     <a href="https://www.instagram.com/" class="fab fa-instagram"></a>
                     <a href="https://pk.linkedin.com/" class="fab fa-linkedin"></a>
                  </div>
               </div>
      
               <div class="box">
                  <h3>quick links</h3>
                  <a class="link" href="/">Home</a>
                  <a class="link" href="">All Attacks</a>
                  <a class="link" href="/contact">Contact</a>
               </div>
            </div>
      
            <div class="credit"> created by <span>Umar Abdullah</span> </div>
      
         </section>
         <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
         <script src="https://unpkg.com/swiper@7/swiper-bundle.min.js"></script>
         <script src="js/script.js"></script>
      
</body>
</html>