<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        .thumbnail-container {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            gap: 20px;
            justify-content: space-evenly;
            padding: 20px;
        }

        .card {
            width: 18rem;
        }
    </style>
    <title>Courses</title>
</head>
<body>
    <h1>Course Thumbnails</h1>

    <div class="thumbnail-container">
        {% for video in videos %}
            <div class="card">
                <img class="card-img-top" src="https://img.youtube.com/vi/{{ video.video_id }}/default.jpg" alt="{{ video.title }}">
                <div class="card-body">
                    <h5 class="card-title">{{ video.title }}</h5>
                </div>
                <a href="/courses?video_id={{ video.video_id }}&video_title={{ video.title }}" class="btn btn-primary">Add Course</a>

            </div>
        {% endfor %}
    </div>
                        <!-- Pagination-->
                        <div class="clearfix" style="display: flex; justify-content: space-between; margin-bottom: 20px ;">
                            <a class="btn btn-primary float-left "href="/courses{{prev}}">Previous</a>
                            <a class="btn btn-primary float-right ml-auto mr-auto" href="/courses{{next}}">Next</a>
                        </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
